.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .image-container {
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
  }

  .buttonClass{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    background: #f51123;
    height: 50px;
    line-height: 48px;
    padding: 0 40px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    border: 1px solid #f51123;
    z-index: 1;
    vertical-align: middle;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .description {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
  }